<!DOCTYPE html>
<html lang="es">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="font-family: sans-serif">
   <main>
      <img src="https://res.cloudinary.com/dvtl2wcia/image/upload/v1731197714/Maquinaria-de-un-gimnasio_z3qszs.png"
         alt="Imagen de gimnasio" style="width: 100%; height: 10rem; object-fit: cover; object-position: center;">
      <h1 style="font-size: 1.6rem; font-weight: bold; text-align: center; color: #000;">
         Bienvenido, <%= name %> ¡Ponte mamadísimo!💪
      </h1>
      <section style="text-align: center;">
         <p style="font-size: 1.4rem; font-weight: 900;  color: #123;">Tu código de acceso:</p>
         <small style="color: #000a; font-size: 6rem; font-weight: bold;">
            <%= codeAccess %>
         </small>
      </section>
   </main>
</body>

</html>